@use "sass:map";

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;500;600&display=swap');

$white: #000 !default;
$gray-100: #004c00 !default;
$gray-200: #006600 !default;
$gray-300: #007f00 !default;
$gray-400: #008c00 !default;
$gray-500: #009900 !default;
$gray-600: #00a500 !default;
$gray-700: #00b200 !default;
$gray-800: #00cc00 !default;
$gray-900: #00e500 !default;
$black: #0f0 !default;

$primary: $gray-800 !default;

$font-family-sans-serif: 'Source Code Pro', monospace;
$font-family-monospace: 'Source Code Pro', monospace;
$font-family-base: 'Source Code Pro', monospace;

$modal-content-border-color: $gray-300 !default;
$card-border-color: $gray-300 !default;
$list-group-action-color: $gray-900 !default;
$component-active-color: $gray-900 !default;
$component-active-bg: $gray-100 !default;
$modal-backdrop-bg: #000 !default;

$border-radius: 0 !default;
$border-radius-lg: 0 !default;
$border-radius-sm: 0 !default;

@import "~bootstrap/scss/bootstrap";

.btn-action {
    @include button-variant($gray-800, $gray-800);

    &:focus {
        box-shadow: none;
    }

    &.selected {
        background-color: $gray-200;
        border-color: $gray-200;
        color: $black;
    }
}

.btn-primary {
    &:active {
        color: $black;
    }
}

.additional-border-top {
    border-top: 1px solid $border-color;
}

.additional-border-bottom {
    border-bottom: 1px solid $border-color;
}

.item.item-selectable {
    cursor: pointer;
}

.item .item-label .progress,
.item .item-controls .progress {
    margin-left: 0.6rem;
    width: 2rem;
}

.item .item-label .progress-bar,
.item .item-controls .progress-bar {
    background-color: $gray-800;
}

.item .item-label .progress-bar.bg-selected,
.item .item-controls .progress-bar.bg-selected {
    background-color: $gray-600;
}

.item .item-label .badge {
    margin-left: 0.6rem;
}

.fixed-alert-container {

    @media (min-width: map.get($grid-breakpoints, "md")) {
        margin-top: 1rem;
        @include make-container();
        @include make-container-max-widths();
    }

    @media (max-width: 767px) {
        @include make-container();
        padding: 0;

        .alert {
            margin-bottom: 0;
            border-radius: 0;
            border-top-width: 0;
            border-left-width: 0;
            border-right-width: 0;
        }
    }
}

.number-display {
    min-height: 2rem;
    margin-bottom: 1rem;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
    word-wrap: break-word;
}

.keypad-row {
    margin-bottom: 0.25rem;
    text-align: center;

    .btn {
        width: 3rem;
    }
}

.review-event {
    padding-bottom: 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    margin-bottom: 1rem;

    .review-event-title {
        margin-bottom: 0.4rem;
        font-size: 80%;
        font-weight: 600;
    }
}

.review-event:last-of-type {
    padding-bottom: 0;
    border-bottom: 0;
    margin-bottom: 0;
}

.achievement {
    padding-bottom: 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    margin-bottom: 1rem;

    &:last-of-type {
        padding-bottom: 0;
        border-bottom: 0;
        margin-bottom: 0;
    }

    .achievement-title {
        font-weight: 600;
    }

}
